/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #CEB888;
$navbar-bg: #CEB888;
$navbar-fg: #4A90E2;
$footer-bg: #CEB888;
$footer-fg: #4A90E2;

// Code blocks
$code-block-bg-alpha: -.8;